<h1>Log In</h1>

<form method="post">
    <label>Mail: </label>
    <input type="text" name="username" class="form-control" required />
    <br />
    <label>Password: </label>
    <input type="text" name="password" class="form-control" required />
    <br />
    <button type="submit" class="btn btn-dark">
        Log In
    </button>
</form>

<h1 style="color:darkgray">
    @ViewBag.Mensaje
</h1>