@model IEnumerable<MvcVideoclubNC.Models.Pelicula>

@{
    ViewData["Title"] = "PeliculasGenero";
}

@{
    IEnumerable<Blob> blobs = ViewData["BLOBS"] as IEnumerable<Blob>;
}



<h1 class="text-center" style="margin-bottom:3em;">Películas por género</h1>


    <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            @foreach (Blob blob in blobs)
            {
                if (blob.Nombre == item.Foto)
                {
                    <a asp-controller="Peliculas"
                        asp-action="DetailsPelicula"
                        asp-route-idpelicula="@item.IdPelicula">
                    <img src="@blob.Url"
                         class="posterpelicula">

                    </a>
                }
            }
        </div>
    }
    </div>

